{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<main>
    <section class="jumbotron">
        <div class="container">

            {% include "_messages.html" %}
            <h1>{% blocktrans %}Bem vindo ao<div style="font-size: 6rem; font-weight: 600;">Beyond</div>{% endblocktrans %}</h1>
            <br>

                <br>
                <br>
             {% if user.is_authenticated %}


                <div class="container text-center">


                    <div class="container-fluid">
                        <div class="feature-columns row">

                            <div class="col">
                                <a href="#" class="btn btn-default">
                                <div class="icon"><i style="color:#006600" class="fa fa-users fa-4x"></i></div>
                                <div class="desc">
                                    <b>Catadores autônomos</b>

                                </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="/admin/cooperativa/" class="btn btn-default">
                                <div class="icon"><i style="color:#880000" class="fa fa-handshake fa-4x"></i></div>
                                <div class="desc">
                                    <b>Cooperativas</b>

                                </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="/admin/industria/" class="btn btn-default">
                                <div class="icon"><i style="color:#000077" class="fa fa-industry fa-4x"></i></div>
                                <div class="desc">
                                    <b>Indústrias</b>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>



                {% else %}
                {% url "account_login" as login_url %}
                {% url "account_signup" as signup_url %}
                <p class="mb-5 lead">{% blocktrans %}Você pode <a href="{{ login_url }}" class="btn btn-secondary">Entrar</a>  para acessar o Sistema.{% endblocktrans %}</p>
                {% endif %}

        </div>




    </section>

    <section id="content-section">

    </section>
    <br>
    <br>
</main>
{% endblock %}
