{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<main>
    <section class="jumbotron">
        <div class="container">

            {% include "_messages.html" %}
            <h1>{% blocktrans %}Bem vindo ao<div style="font-size: 6rem; font-weight: 600;">Cuidado</div>{% endblocktrans %}</h1>
            <br>

                <br>
                <br>


                <div class="container text-center">


                    <div class="container-fluid">
                        <div class="feature-columns row">

                            <div class="col">
                                <a href="#" class="btn btn-default">
                                <div class="icon"><i style="color:#006600" class="fa fa-heartbeat fa-4x"></i></div>
                                <div class="desc">
                                    <b>Hospitais</b>

                                </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="/pm" class="btn btn-default">
                                <div class="icon"><i style="color:#880000" class="fa fa-taxi fa-4x"></i></div>
                                <div class="desc">
                                    <b>Policia Militar</b>

                                </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="/cap" class="btn btn-default">
                                <div class="icon"><i style="color:#000077" class="fa fa-tint fa-4x"></i></div>
                                <div class="desc">
                                    <b>CAP</b>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>



                {% if not user.is_authenticated %}
                {% url "account_login" as login_url %}
                {% url "account_signup" as signup_url %}
                <p class="mb-5 lead">{% blocktrans %}Você pode <a href="{{ login_url }}" class="btn btn-secondary">Entrar</a> ou <a href="{{ signup_url }}" class="btn btn-primary">Criar nova conta</a> para acessar o Sistema.{% endblocktrans %}</p>
                {% endif %}

        </div>




    </section>

    <section id="content-section">

    </section>
    <br>
    <br>
</main>
{% endblock %}
